* {
   box-sizing: border-box;
}

body {
   background-color: #111;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   max-width: 400px;
}

.square {
   width: 16px;
   height: 16px;
   background: #3f3d3d;
   margin: 2px;
   box-shadow: 0 0 2px #000;
   transition: 3s ease;
}

.square:hover {
   transition-duration: 0s;
}

